:root {
	--section: #0081a7ff;
	--wrapper: grey;
	--navbar: #e5e4e2;
	--body-bg: #e5e4e2;
	--other: #b8336aff;
	--main-text: black;
	--nav-links: black;
	--icon-color: crimson;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
body {
	background-color: burlywood;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(61, 2, 59);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Ubuntu", sans-serif;
	height: 75px;
	padding: 0 20px;
	color: white;
}
#header-img {
	padding-left: 30px;
	padding-top: 35px;
}
#nav-bar ul {
	list-style-type: none;
	display: flex;
}
.nav-link {
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	/* min-width: 100px; */
	/* width: 13vw; */
	width: 100px;
	flex-direction: row;
	color: var(--nav-links);
	cursor: pointer;
}
@media (max-width: 630px) {
	#header-img {
		width: 80px;
	}
	.nav-link {
		font-size: 0.8rem;
		width: 80px;
	}
}
main {
	color: var(--main-text);
	font-family: "Roboto Slab", sans-serif;
}
section.form {
	margin-top: 140px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.form h2 {
	margin-bottom: 20px;
	font-size: 1.5rem;
}
input[type="email"] {
	width: 100%;
	border: none;
	padding: 5px;
	margin-bottom: 20px;
}
.btn {
	background-color: black;
	color: white;
	font-family: "Roboto Slab", sans-serif;
	text-transform: uppercase;
	padding: 5px;
	border: none;
}
.btn:hover {
	background-color: crimson;
	transition: background-color 1s;
}
@media (max-width: 630px) {
	.form h2 {
		font-size: 1.3rem;
	}
}
#top {
	margin: 0 auto;
	width: 60%;
}
.grid {
	display: flex;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20vw;
	/* height: 125px; */
	font-size: 3.5rem;
	color: rgb(124, 0, 165);
}
.desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80vw;
	height: 125px;
	padding: 10px;
}
.desc h2 {
	font-family: "Ubuntu", serif;
	font-size: 1.5rem;
}
@media (max-width: 630px) {
	#top {
		width: 80%;
		margin-top: 20px;
	}
	.icon {
		font-size: 2.5rem;
	}
	.desc h2 {
		font-size: 1.3rem;
	}
	.desc p {
		font-size: 0.8rem;
	}
}
#middle {
	display: flex;
	justify-content: center;
	height: 50vh;
	margin: 50px 0 0;
}
#video {
	width: 100%;
	max-width: 560px;
	height: 90%;
}
@media (max-width: 630px) {
	#video {
		margin-top: -60px;
		width: 500px;
		height: 80%;
	}
}
#bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 20px;
	width: 78%;
}
.list-wrap {
	border: 1px solid black;
	width: calc(78% / 3);
	margin: 10px;
	text-align: center;
	font-family: "Nunito Sans", sans-serif;
}
.list-item {
	background-color: var(--wrapper);
	font-size: 1.5rem;
	padding: 10px 0;
}
.list-wrap h2 {
	margin-top: 15px;
}
.list-wrap ul {
	list-style-type: none;
	margin: 10px 0;
}
.list-wrap > ul > li {
	padding: 3px 0;
}
button.btn {
	margin: 10px 0 20px;
	padding: 10px;
}
@media (max-width: 630px) {
	#bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: -120px;
	}
	.list-wrap {
		width: 70%;
		margin: 10px auto;
	}
}
#footer {
	width: 70%;
	font-family: "Roboto Slab", serif;
	display: flex;
	flex-direction: column;
	margin: 30px auto 0;
	padding: 20px 20px 15px;
	background-color: var(--wrapper);
	border-radius: 5px 5px 0 0;
}
#footer ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
#footer li {
	padding: 0 10px;
}
#footer a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
#footer span {
	display: flex;
	justify-content: flex-end;
	font-size: 0.9rem;
	margin-top: 5px;
	color: white;
}
